/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Benne", serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.4rem;
  box-sizing: border-box;
}

:root {
  --jubilanceOfSun-darker: #c0b001c4;
  --jubilanceOfSun-lighter: #cec93b;
}

/* Style*/

.first-section-background {
  height: 100vh;
  background-attachment: fixed;
}

/* Left panel */

.left-panel {
  /* inset: 0% 70% 0% 0%; */
  background-position: bottom;
  background-size: cover;
  background: var(--jubilanceOfSun-darker);
  inset: 0% 93% 0% 0%;
  max-width: 400px;
  mix-blend-mode: color-dodge;
  mix-blend-mode: hard-light;
  opacity: 0.8;
  position: absolute;
  transition: inset 0.3s;
  z-index: 10;
  border: 1px solid var(--jubilanceOfSun-lighter);
}

.left-panel__expanded {
  inset: 0% 70% 0% 0%;
}

.giveMeSomeScroll {
  height: 100vh;
  background: limegreen;
  position: relative;
}

/* Nav-bar */

/* First-section */
.first-section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("../images/SpiderWebWithDueDropsUnderSunlight.jpg");
  filter: grayscale(0%);
  z-index: -1;
}

.project {
  height: 200px;
  width: 400px;
  background: blueviolet;
  border: 1px solid white;
}

.project:hover {
  filter: drop-shadow(20px 13px 10px rgba(0, 0, 0, 0.5));
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: auto; */
  gap: 20px 20px;
}
