/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Benne", serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.4rem;
  box-sizing: border-box;
}

:root {
  --jubilanceOfSun-darker: #c0b001c4;
  --jubilanceOfSun-lighter: #cec93b;
}

/* Style*/

.first-section-background {
  height: 100vh;
  background-attachment: fixed;
}

/* Left panel */

.left-panel {
  /* inset: 0% 70% 0% 0%; */
  background-position: bottom;
  background-size: cover;
  background: var(--jubilanceOfSun-darker);
  inset: 0% 93% 0% 0%;
  max-width: 400px;
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  position: absolute;
  transition: inset 0.3s;
  z-index: 10;
  border: 1px solid var(--jubilanceOfSun-lighter);
}

.left-panel__expanded {
  inset: 0% 70% 0% 0%;
}

.giveMeSomeScroll {
  height: 100vh;
  background: limegreen;
  position: relative;
}


/* First-section */
.first-section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("../images/SpiderWebWithDueDropsUnderSunlight.jpg");
  filter: grayscale(0%);
  z-index: -1;
}

.project {
  height: 200px;
  width: 400px;
  background: blueviolet;
  border: 1px solid white;
}

.project:hover {
  filter: drop-shadow(20px 13px 10px rgba(0, 0, 0, 0.5));
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: auto; */
  gap: 20px 20px;
}

.anime-js {
  display: flex;
  position: relative;
  min-height: 100vh;
justify-content: center;
align-items: center;
background: rgba(215,194,165,255);
}

.container {
  position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}


.anime-js h2 {
  color: rgba(57,36,16,255);
  text-align: center;
  font-size: 12vh;
  line-height: 0.6em;
  z-index: 1000;
  font-weight: 900;

}

.anime-js h2 span {
  font-size: 0.2em;
  letter-spacing: 0.4em;
  font-weight: 400;
  text-transform: uppercase;
}

.block {
  position: absolute;
  width: 50px;
  height: 100px;
  background: rgba(243,220,183,255);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2)
}

/* Nav Bar */

.nav-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar__divs {

}